<app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<section class="" style="background-color: black; min-height: 100vh;">

  <div class="container">
    <div class="row">
      <div class="col me-3 mt-3">
        <b class="fs-5" style="color: blueviolet;">All Leads</b>
        
        <input class="form-control me-2 mt-2 w-25" type="search" placeholder="Search" aria-label="Search">

        <table class="table mt-3" style="color: white;">
          <thead class="table-light">
            <tr class="">
              <th scope="col">Customer Name</th>
              <th scope="col">Email Id</th>
              <th scope="col">Stage</th>
              <th scope="col">Next Action & Due</th>
              <th scope="col">Lead Owner</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>@mdo</td>
              <td>abc</td>
              <td>xyz</td>
              <td>pqr</td>
              <td>abc</td>
            </tr>
            <tr>
              <td>Mark</td>
              <td>@mdo</td>
              <td>abc</td>
              <td>xyz</td>
              <td>pqr</td>
              <td>abc</td>
            </tr>
          </tbody>
        </table>
       
      </div>
      </div>
      </div>
</section>