<app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<section class="" style="background-color: black;">
    <h3 class="heading">CRM Dashboard (all Users)</h3>

    <div class="container">
        <div class="row box">
          <div class="col head me-3">
            <b class="fs-5">Last 30 Days</b>
            <div class="row mt-3">
                <div class="col" style="color: rgb(0, 179, 255);">New Leads <p>0</p></div>
                <div class="col" style="color: green;">Converted <p>0</p></div>
                <div class="col" style="color: red">Lost <p>0</p></div>
              </div>
          </div>

          <div class="col head me-3">
            <b class="fs-5"> Current Month</b>
            <div class="row mt-3">
                <div class="col" style="color: rgb(0, 179, 255);">New Leads <p>0</p></div>
                <div class="col" style="color: green;">Converted <p>0</p></div>
                <div class="col" style="color: red">Lost <p>0</p></div>
              </div>
          </div>

          <div class="col head">
            <b class="fs-5">Last Month</b>
            <div class="row mt-3">
                <div class="col" style="color: rgb(0, 179, 255);">New Leads <p>0</p></div>
                <div class="col" style="color: green;">Converted <p>0</p></div>
                <div class="col" style="color: red">Lost <p>0</p></div>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row box">
          <div class="col head me-3" style="text-align: left; height: 50vh;">
            <p class="mt-2">Funnel Graph</p>
          </div>

          <div class="col head" style="text-align: left;">
            <p class="mt-2"> Followup</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row box">
          <div class="col head me-3" style="text-align: left; height: 30vh;">
            <p class="mt-2">Lead Source</p>
          </div>

          <div class="col head" style="text-align: left;">
            <p class="mt-2"> Lead Closure Reason</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row box">
          <div class="col head me-3" style="text-align: left; height: 30vh;">
            <p class="mt-2"> Lead Stage wise Chart</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row box">
          <div class="col head me-3" style="text-align: left; height: 30vh;">
            <p class="mt-2"> New Vs Converted Daily basis Chart</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row box">
          <div class="col head me-3 mb-4" style="text-align: left; height: 30vh;">
            <p class="mt-2">Upcoming Followup</p>
            <table class="table" style="color: white;">
              <thead>
                <tr class="">
                  <th scope="col">Customer Name</th>
                  <th scope="col">Email Id</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Next Action & Due</th>
                  <th scope="col">Lead Owner</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>@mdo</td>
                  <td>abc</td>
                  <td>xyz</td>
                  <td>pqr</td>
                  <td>abc</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>@mdo</td>
                  <td>abc</td>
                  <td>xyz</td>
                  <td>pqr</td>
                  <td>abc</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-5 head mb-4" style="text-align: left;">
            <p class="mt-2"> Upcomming Meetings</p>
            <table class="table" style="color: white;">
              <thead>
                <tr class="">
                  <th scope="col">Customer Name</th>
                  <th scope="col">Email Id</th>
                  <th scope="col">Meeting Type</th>
                  <th scope="col">Meeting Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>@mdo</td>
                  <td>abc</td>
                  <td>01-02-03</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>@mdo</td>
                  <td>abc</td>
                  <td>01-02-03</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</section>
